<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.csu.demo.demo.mapper.ItemThumbnailMapper">

    <resultMap id="ThumbMap" type="com.csu.demo.demo.domain.ItemThumbnail">
        <id property="itemId" column="item_id"/>
        <result property="thumbPath" column="thumb_path"/>
    </resultMap>

    <select id="selectByItemIds" resultMap="ThumbMap">
        SELECT item_id, thumb_path
        FROM item_thumbnails
        WHERE item_id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>
</mapper>
